* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open-sans", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app {
  max-width: 1440px;
  margin: 5rem;
  display: grid;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 1fr 100px;
  row-gap: 40px;
}

header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}
nav ul {
  list-style-type: none;
  display: flex;
  gap: 36px;
}
nav a {
  text-decoration: none;
  font-weight: normal;
  font-size: 15px;
  color: #a5a2aa;
}
nav a:hover {
  color: hsl(35, 77%, 62%);
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 150px;
  column-gap: 25px;
  row-gap: 30px;
}
.img-con {
  grid-column: 1/3;
}
.img-con img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.side {
  background: #000;
  grid-column: 3/3;
  grid-row: 1/3;
  padding: 20px;
}
.side h1 {
  color: hsl(35, 77%, 62%);
  margin-bottom: 20px;
}
.heading h1 {
  font-family: Inter;
  font-size: 42px;
}
.read-more {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.read-more p {
  color: #908f96;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
}
.rd-btn {
  background: #f15d51;
  color: #000;
  border: none;
  font-weight: 500;
  padding: 10px 20px;
  margin-top: 20px;
  letter-spacing: 3px;
  font-size: 13px;
  font-family: Inter;
  cursor: pointer;
  align-self: flex-start;
}
.rd-btn:hover {
  color: #fff;
  background: #000;
}
footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 25px;
}
.top-con {
  display: flex;
}
.top-con img {
  height: 100px;
}
.top-con a {
  display: flex;
  gap: 15px;
  line-height: 1.5;
  text-decoration: none;
}
.top-con a h2 {
  color: #df5e56;
}
.top-con a h3 {
  color: #000;
  font-weight: 700;
}
.top-con a p {
  font-size: 12px;
  color: #96959a;
}
.top-con a h3:hover {
  color: #df5e56;
}
.item {
  color: #fff;
  line-height: 1.5;
}
.item p {
  color: #838498;
}
.item a {
  font-weight: 600;
  font-size: 18px;
}
.item a:hover {
  color: hsl(35, 77%, 62%);
}
hr {
  margin: 20px 0px;
}
@media (max-width: 768px) {
  nav {
    display: none;
  }
  .app {
    margin: 20px;
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "footer";
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
  main {
    display: flex;
    flex-direction: column;
  }
  footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .side {
    order: 1;
  }
}
